xmpp_jid=$manager.internal.mydomain
xmpp_password=$xmpp_pass
xmpp_host=$xmpp_address
xmpp_port=$xmpp_port

rendezvous_jid=$my-rendezvous.internal.mydomain

## Manager databases
manager_datastore_url=jdbc:sqlite:$path_to_manager_db
instance_datastore_url=jdbc:sqlite:$path_to_instances_db
storage_datastore_url=jdbc:sqlite:$path_to_storage_db
network_datastore_url=jdbc:sqlite:$path_to_network_db

## database updater period
bd_updater_period=30000

## Static mapping from flavors to requirements (Optional)
#flavor_fogbow_small={mem=512, cpu=1}
#flavor_fogbow_medium={mem=1024, cpu=2}
#flavor_fogbow_large={mem=2048, cpu=4}

## Image Storage Plugin (HTTPDownload)
image_storage_class=org.fogbowcloud.manager.core.plugins.imagestorage.http.HTTPDownloadImageStoragePlugin
image_storage_http_tmp_storage=$path_to_tmp
image_storage_http_base_url=http://$image_store_address
image_storage_http_accepted_formats=qcow2,raw,vmdk
image_storage_http_conversion_output_format=$format

## Static mapping between local image ids and image names
## Applies to all image storage plugins
image_storage_static_fogbow-ubuntu=$image_id

## Mapper Plugin / Local Credentials
federation_user_credentail_class=org.fogbowcloud.manager.core.plugins.localcredentails.SingleMapperPlugin

## Authorization Plugin
federation_authorization_class=org.fogbowcloud.manager.core.plugins.authorization.AllowAllAuthorizationPlugin

## Member Validator
member_validator_class=org.fogbowcloud.manager.core.plugins.memberauthorization.DefaultMemberAuthorizationPlugin
member_validator_ca_dir=

## Member Picker Plugin (Round Robin)
member_picker_class=org.fogbowcloud.manager.core.plugins.memberpicker.RoundRobinMemberPickerPlugin

## Member Picker Plugin (Nof Member Picker)
# member_picker_class=org.fogbowcloud.manager.core.plugins.memberpicker.NoFMemberPickerPlugin

## Local Prioritization Plugin
local_prioritization_plugin_class=org.fogbowcloud.manager.core.plugins.prioritization.fcfs.FCFSPrioritizationPlugin
## Remote Prioritization Plugin
remote_prioritization_plugin_class=org.fogbowcloud.manager.core.plugins.prioritization.nof.NoFPrioritizationPlugin
nof_prioritize_local=true

## If you are using NoFMemberPicker or NoFPrioritizationPlugin classes
nof_trustworthy=false

token_host_public_address=$token_host_pub_address
token_host_private_address=$token_host_priv_address
token_host_http_port=$token_host_http_port
token_host_port=$token_host_port

my_ip=$manager_ip

http_port=$manager_port

## Accounting Plugin
## Compute accounting plugin
accounting_class=org.fogbowcloud.manager.core.plugins.accounting.FCUAccountingPlugin
accounting_update_period=300000
fcu_accounting_datastore_url=jdbc:h2:$path_to_compute_accounting_db

## Storage accounting plugin
storage_accounting_class=org.fogbowcloud.manager.core.plugins.accounting.SimpleStorageAccountingPlugin
simple_storage_accounting_datastore_url=jdbc:h2:$path_to_storage_accounting_db

## Benchmarking (Vanilla Benchmarking Plugin)
benchmarking_class=org.fogbowcloud.manager.core.plugins.benchmarking.VanillaBenchmarkingPlugin
# Benchmarking script to use with SSH Benchmarking plugin
ssh_benchmarking_script_url=http://downloads.fogbowcloud.org/benchmark/script_ssh_benchmarking.sh

## Compute Plugin
compute_class=org.fogbowcloud.manager.core.plugins.compute.opennebula.OpenNebulaComputePlugin
compute_one_url=http://$address:$port/RPC2
compute_one_network_id=$network_id
compute_one_datastore_id=$datastore_id
# Below properties allow the FM to copy download VM images to OpenNebula controller machine
# (this is to be used when the FM and the OpenNebula controller run in different machines).
#compute_one_ssh_host=$address
#compute_one_ssh_port=$ssh_port
#compute_one_ssh_username=$user_name
#compute_one_ssh_key_file=$path_to_rsa_key
#compute_one_ssh_target_temp_folder=$path_to_images

# Network plugin
network_class=org.fogbowcloud.manager.core.plugins.network.opennebula.OpenNebulaNetworkPlugin
network_one_bridge=$bridge_id

## Storage Plugin
storage_class=org.fogbowcloud.manager.core.plugins.storage.opennebula.OpenNebulaStoragePlugin
## Default device prefix to use when attaching volumes, values: hd (IDE), sd (SCSI), vd (KVM), vxd (XEN)
storage_one_datastore_default_device_prefix=$prefix

## Local Identity
local_identity_class=org.fogbowcloud.manager.core.plugins.identity.opennebula.OpenNebulaIdentityPlugin
local_identity_url=http://$address:$port/RPC2

## Mandatory for Local Credentails

# Mapper Plugin / Local credentials for opennebula
mapper_defaults_username=$username
mapper_defaults_password=$userpass

## Federation Identity
federation_identity_class=org.fogbowcloud.manager.core.plugins.identity.opennebula.OpenNebulaIdentityPlugin
federation_identity_url=http://$address:$port/RPC2