xmpp_jid=manager.test.com
xmpp_password=password
xmpp_host=127.0.0.1
xmpp_port=5347

rendezvous_jid=rendezvous.test.com

compute_class=org.fogbowcloud.manager.core.plugins.openstack.OpenStackComputePlugin
compute_openstack_occi_url=http://localhost:8182
compute_openstack_v2api_url=http://localhost:8182
compute_openstack_flavor_small=m1-small
compute_openstack_flavor_medium=m1-medium
compute_openstack_flavor_large=m1-large
compute_openstack_default_cirros_image=cadf2e29-7216-4a5e-9364-cf6513d5f1fd

identity_class=org.fogbowcloud.manager.core.plugins.openstack.OpenStackIdentityPlugin
identity_openstack_url=http://localhost:5000

federation_user_name=fogbow
federation_user_password=fogbow
federation_user_tenant_name=demo

member_validator=org.fogbowcloud.manager.core.DefaultMemberValidator
member_validator_ca_dir=

cert_path=

scheduler_period=30000
token_update_period=300000
instance_monitoring_period=120000

ssh_tunnel_public_host=150.165.80.1
ssh_tunnel_private_host=10.0.0.1
ssh_tunnel_user=fogbow
ssh_tunnel_port_range=50000:59999
ssh_tunnel_host_port=22

http_port = 8182