<TEMPLATE>
   <CONTEXT>
      <USERDATA_ENCODING>base64</USERDATA_ENCODING>
      <USERDATA>#USERDATA#</USERDATA>
   </CONTEXT>
   <CPU>#CPU#</CPU>
   <GRAPHICS>
       <LISTEN>0.0.0.0</LISTEN>
       <TYPE>vnc</TYPE>
   </GRAPHICS>
   <DISK>
      <IMAGE_ID>#IMAGE_ID#</IMAGE_ID>
   </DISK>#DISK_VOLATILE#
   <MEMORY>#MEM#</MEMORY>
   <NIC>
      <NETWORK_ID>#NET_ID#</NETWORK_ID>
   </NIC>
</TEMPLATE>