<TEMPLATE>
   <CONTEXT>
      <USERDATA_ENCODING>base64</USERDATA_ENCODING>
      <USERDATA>#USERDATA#</USERDATA>
   </CONTEXT>
   <CPU>#CPU#</CPU>
   <DISK>
      <IMAGE_ID>#IMAGE_ID#</IMAGE_ID>
   </DISK>
   <MEMORY>#MEM#</MEMORY>
   <NIC>
      <NETWORK_ID>#NET_ID#</NETWORK_ID>
   </NIC>
</TEMPLATE>