xmpp_jid=$manager.internal.mydomain
xmpp_password=$xmpp_pass
xmpp_host=$xmpp_address
xmpp_port=$xmpp_port

rendezvous_jid=$my-rendezvous.internal.mydomain

# Federation Identity plugin class
federation_identity_class=org.fogbowcloud.manager.core.plugins.voms.VomsIdentityPlugin

# Directory where are the VOMS server information. 
# List of voms servers in order to issue a proxy. 
# Default : "~/.glite/vomses"
path_vomses=$path_vomes

# Directory where are the certificates of Certificate Authorities (CA). 
# They are certificates that you trust.
# You need to have the certificate, CRL (certificate revocation list), 
# info, namespaces and signing_policy files for each CA.
# These files need to have read permission grant to the user that runs
# the fogbow manager
# Default : "/etc/grid-security/certificates"
path_trust_anchors=$path_trust_anchors

# Directory where are the certificates of VOMS that you trust.
# Default : "/etc/grid-security/vomsdir"
path_vomsdir=$path_voms_dir

## Authorization Plugin
federation_authorization_class=org.fogbowcloud.manager.core.plugins.authorization.AllowAllAuthorizationPlugin

## Member Validator
member_validator_class=org.fogbowcloud.manager.core.plugins.memberauthorization.DefaultMemberAuthorizationPlugin
member_validator_ca_dir=

## Member Picker Plugin (Round Robin)
member_picker_class=org.fogbowcloud.manager.core.plugins.memberpicker.RoundRobinMemberPickerPlugin

## Member Picker Plugin (Nof Member Picker)
# member_picker_class=org.fogbowcloud.manager.core.plugins.memberpicker.NoFMemberPickerPlugin
			
## If you are using NoFMemberPicker or NoFPrioritizationPlugin classes (NOF)
nof_trustworthy=false

## Local Prioritization Plugin
local_prioritization_plugin_class=org.fogbowcloud.manager.core.plugins.prioritization.fcfs.FCFSPrioritizationPlugin
## Remote Prioritization Plugin
remote_prioritization_plugin_class=org.fogbowcloud.manager.core.plugins.prioritization.nof.NoFPrioritizationPlugin
nof_prioritize_local=true

## Storage accounting plugin (Funcionalidade de Accounting)
storage_accounting_class=org.fogbowcloud.manager.core.plugins.accounting.SimpleStorageAccountingPlugin
simple_storage_accounting_datastore_url=jdbc:h2:$path_to_storage_accounting_db

## Accounting Plugin
## Compute accounting plugin
compute_accounting_class=org.fogbowcloud.manager.core.plugins.accounting.FCUAccountingPlugin
accounting_update_period=300000
fcu_accounting_datastore_url=jdbc:h2:$path_to_compute_accounting_db
