## Image Storage Plugin (HTTPDownload)
image_storage_class=org.fogbowcloud.manager.core.plugins.imagestorage.http.HTTPDownloadImageStoragePlugin
image_storage_http_tmp_storage=$path_to_tmp
image_storage_http_base_url=http://$image_store_address
image_storage_http_accepted_formats=qcow2,raw,vmdk
image_storage_http_conversion_output_format=$format

## Compute Plugin
compute_class=org.fogbowcloud.manager.core.plugins.compute.ec2.EC2ComputePlugin
compute_ec2_region=$ec2_region
compute_ec2_security_group_id=$ec2_secutiry_group_id
compute_ec2_subnet_id=$ec2_subnet_id
compute_ec2_image_bucket_name=$s3_bucket_name
compute_ec2_max_vcpu=$num_max_vcpu
compute_ec2_max_ram=$num_max_ram
compute_ec2_max_instances=$num_max_instances

# Network Plugin
network_class=org.fogbowcloud.manager.core.plugins.network.ec2.EC2NetworkPlugin

## Storage Plugin
storage_class=org.fogbowcloud.manager.core.plugins.storage.ec2.EC2StoragePlugin
storage_ec2_availability_zone=$ec2_storage_availability_zone_id

## Identity
federation_identity_class=org.fogbowcloud.manager.core.plugins.identity.nocloud.NoCloudIdentityPlugin

## Local Identity
local_identity_class=org.fogbowcloud.manager.core.plugins.identity.ec2.EC2IdentityPlugin
mapper_defaults_accessKey=$ec2_access_key
mapper_defaults_secretKey=$ec2_secret_key

## Local Credentials
federation_user_credentail_class=org.fogbowcloud.manager.core.plugins.localcredentails.SingleMapperPlugin

## Static mapping between local image ids and image names
## Applies to all image storage plugins
image_storage_static_fogbow-ubuntu=$image_id

## Static mapping from flavors to requirements (Optional)
#flavor_fogbow_small={mem=512, cpu=1}
#flavor_fogbow_medium={mem=1024, cpu=2}
#flavor_fogbow_large={mem=2048, cpu=4}