## Image Storage Plugin (HTTPDownload)
image_storage_class=org.fogbowcloud.manager.core.plugins.imagestorage.http.HTTPDownloadImageStoragePlugin
image_storage_http_tmp_storage=$path_to_tmp
image_storage_http_base_url=http://$image_store_address
image_storage_http_accepted_formats=qcow2,raw,vmdk
image_storage_http_conversion_output_format=$format

## Compute Plugin
compute_class=org.fogbowcloud.manager.core.plugins.compute.azure.AzureComputePlugin
compute_azure_max_instances=$num_max_instances
compute_azure_max_vcpu=$num_max_vcpu
compute_azure_max_ram=$num_max_ram
compute_azure_region=$azure_region

# Network Plugin
network_class=org.fogbowcloud.manager.core.plugins.network.azure.AzureNetworkPlugin

## Storage Plugin
storage_class=org.fogbowcloud.manager.core.plugins.storage.azure.AzureStoragePlugin
compute_azure_storage_account_name=$storage_account_name
compute_azure_storage_key=$key_content

## Identity
federation_identity_class=org.fogbowcloud.manager.core.plugins.identity.azure.AzureIdentityPlugin
mapper_defaults_subscription_id=$subscription_id
mapper_defaults_keystore_path=$path_to_keystore
mapper_defaults_keystore_password=$keystore_pass

## Local Identity
local_identity_class=org.fogbowcloud.manager.core.plugins.identity.azure.AzureIdentityPlugin

## Local Credentials
federation_user_credentail_class=org.fogbowcloud.manager.core.plugins.localcredentails.SingleMapperPlugin

## Static mapping between local image ids and image names
## Applies to all image storage plugins
image_storage_static_fogbow-ubuntu=$image_id

## Static mapping from flavors to requirements (Optional)
#flavor_fogbow_small={mem=512, cpu=1}
#flavor_fogbow_medium={mem=1024, cpu=2}
#flavor_fogbow_large={mem=2048, cpu=4}
